repos:
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/myint/autoflake
    rev: main
    hooks:
      - id: autoflake
        language_version: python3.10
        args: ["--remove-all-unused-imports", "--remove-unused-variables"]
